/*Global*/
body{
    background-image: url('../pexels-pixabay-531880.jpg');
}    
/*Local*/
.my-title{
    background-image: linear-gradient(black, teal);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Poetsen One", sans-serif;
}
.my-btn,h4,h2{
    font-family: "Poetsen One", sans-serif;
}
a:hover{
   text-decoration: underline !important; 
   cursor: pointer;
}
.form-control:focus{
    box-shadow: 0px 0px 15px #134f34;
}
.hello{
    height: 45vh;
}
